@model UpdateUser
@{
    ViewData["Title"] = "CreateUser";
}


<div asp-validation-summary="ModelOnly" class="text-danger">

</div>
<form method="post" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label asp-for="@Model.Name">Ad</label>
            <input class="form-control" placeholder="Ad daxil edin" asp-for="@Model.Name">
            <span class="text-danger" asp-validation-for="@Model.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Surname">Soyad</label>
            <input class="form-control" placeholder="Soyad daxil edin" asp-for="@Model.Surname">
            <span class="text-danger" asp-validation-for="@Model.Surname"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.UserName">İstifadəçi adı</label>
            <input class="form-control" placeholder="İstifadəçi adı daxil edin" asp-for="@Model.UserName">
            <span class="text-danger" asp-validation-for="@Model.UserName"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Email">Email</label>
            <input class="form-control" placeholder="fffff@mail.com" asp-for="@Model.Email">
            <span class="text-danger" asp-validation-for="@Model.Email"></span>
        </div>

    </div>
    <!-- /.card-body -->
    <button type="submit" class="btn btn-primary">Submit</button>
    <a class="btn btn-danger" asp-action="Index">Geri qayit</a>
</form>


