@model List<Patient>
@{
    ViewData["Title"] = "Index";
}




<div class="card">
    <div class="card-header">
        <h1 class="card-title">Bütün Xəstələr</h1>
    </div>
    <a asp-action="Create" class="btn btn-primary" style="color:white !important"> Xəstə qeydiyatı </a>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Adı Soadı</th>
                    <th>Soadı</th>
                    <th>Fəaliyyəti</th>
                    <th>İdarə et</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Patient item in Model)
                {
                    <tr>
                        <td>@item.FirstName </td>
                        <td>@item.LastName</td>

                        <td>
                            @if (!item.IsDeactive)
                            {
                                <span class="text-success">Aktiv</span>
                            }
                            else
                            {
                                <span class="text-danger">Deaktiv</span>
                            }
                        </td>
                        <td>
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary" style="color:white !important">Dəyiş</a>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-info" style="color:white !important">Haqqında</a>
                            @if (!item.IsDeactive)
                            {
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cat-@item.Id">
                                    Deaktiv
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="cat-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Bağla</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Bu xəstə deaktiv edilsin?</h4>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ləğv et</button>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deaktiv et</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#cat-@item.Id">
                                    Aktiv
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="cat-@item.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Bağla</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Bağla">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Bu xəstə aktiv edilsin?</h4>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Ləğv et</button>
                                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-success">Aktiv et</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->


@section Scripts{
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}