
@model Tool
@{
    ViewData["Title"] = "Update";
}


<form method="post" enctype="multipart/form-data">
    <div class="card-body">
        <div class="form-group">
            <label asp-for="@Model.Name">Alətin adı</label>
            <input class="form-control" id="exampleInputEmail1" placeholder="Alətin adını daxil edin" asp-for="@Model.Name">
            <span class="text-danger" asp-validation-for="@Model.Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Count">Alət sayı</label>
            <input class="form-control" id="exampleInputEmail1" placeholder="Neçə ədəd əlavə olunduğunu qeyd edin" asp-for="@Model.Count">
            <span class="text-danger" asp-validation-for="@Model.Count"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Price">Qiyməti</label>
            <input class="form-control" id="exampleInputEmail1" placeholder="Qiyməti" asp-for="@Model.Price">
            <span class="text-danger" asp-validation-for="@Model.Price"></span>
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Dəyiş</button>
        <a asp-action="Index" class="btn btn-primary">Ləğv et</a>
    </div>
</form>


